.SearchForm_button {
  background-color: #555555;
  border: 2px solid gray;
  color: white;
  font-size: 16px;
  padding: 5px 5px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.SearchForm_button:hover {
  background-color: #008cba;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.search_par {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.form {
  text-align: center;
}

.search_conteiner {
  list-style: none;
}
