.main_container {
  max-width: 1200px;
  min-height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.film_container {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
}

.film_img {
  max-width: 182px;
  /* background: #424242; */
  border-radius: 15px;
}

.film_title {
  font-size: 26px;
  margin-bottom: 12px;
  color: #ffc700;
  padding-top: 12px;
}

.film_subtitle {
  font-size: 16px;
  margin-bottom: 6px;
  color: white;
}

.film_overview {
  font-size: 16px;
  color: #888888;
  margin-bottom: 12px;
}

.film_list_descr {
  font-size: 16px;
  display: flex;
  gap: 18px;
  padding: 0;

  border-radius: 20px;
  color: #888888;
  margin-bottom: 12px;
}

.film_add_info {
  color: #ffc700;
  font-size: 26px;
  margin-bottom: 12px;
}

.film_list_container {
  display: flex;
  gap: 18px;
  margin-bottom: 12px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 26px;
}

.film_header {
  animation: glow 800ms ease-out infinite alternate;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px #ffc700, 0 0 7px #ffc700, 0 0 7px #ffc700,
    0 0 7px rgba(0, 255, 0, 0.2), 0 0 12px #ffc700, 0 0 12px #ffc700,
    0 0 7px #ffc700, 0 0 12px #ffc700;
  border-radius: 20px;
}

.film_header_list {
  display: flex;
  gap: 30px;

  font-weight: 700;
  font-size: 28px;
}

.header_link {
  color: white;
}

.header_link.active {
  color: #ffc700;
}

.goBack_button {
  margin-top: 35px;
  margin-bottom: 10px;
  color: rgb(220, 231, 255);

  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #ffc700;
  border-radius: 10px;

  width: 100px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  font-size: 14px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goBack_button:hover {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: #ffc700;
}
